<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>       
    <section name ="GGCSettings"
             type ="configReaderConsole.GGCSettingsSectionHandler, configReaderConsole"/>
  </configSections>

  <!-- configReaderConsole.GGCSettings is namespace.classname, configReaderConsole is assembly name -->
  <GGCSettings type ="configReaderConsole.GGCSettingsDataMapper , configReaderConsole">
    <UserId>500</UserId>
    <IpAddresses>
      <IpAddress1>10.10.11.11</IpAddress1>
      <IpAddress2>10.10.11.12</IpAddress2>
      <IpAddress3>10.10.11.13</IpAddress3>
      <IpAddress4>10.10.11.14</IpAddress4>
    </IpAddresses>
    <ConsumerId>K9</ConsumerId>
    <AgencyCode>WCB</AgencyCode>
    <ApplicationCode>WCB00001123</ApplicationCode>
    <Region>North America</Region>
    <Domain>ITS.NY.GOV</Domain>
  </GGCSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>